#jinja2:lstrip_blocks: True
! /etc/quagga/bgpd.conf
!
! {{ ansible_managed }}
!
router bgp {{ quagga_bgp.asn }}
  bgp router-id {{ quagga_router_id }}
  {% if quagga_bgp.networks is defined %}
  {% for network in quagga_bgp.networks %}
  network {{ network }}
  {% endfor %}
  {% endif %}
  {% for neighbor in quagga_bgp.neighbors|sort(reverse=True) %}
  neighbor {{ neighbor.peer }} soft-reconfiguration inbound
  {% if neighbor.asn | default(false) %}
  neighbor {{ neighbor.peer }} remote-as {{ neighbor.asn }}
  {% endif %}
  {% if neighbor.is_peer_group | default(false) %}
  neighbor {{ neighbor.peer }} peer-group
  {% endif %}
  {% if neighbor.peer_group | default(false) %}
  neighbor {{ neighbor.peer }} peer-group {{ neighbor.peer_group }}
  {% endif %}
  {% if neighbor.description | default(false) %}
  neighbor {{ neighbor.peer }} description {{ neighbor.description }}
  {% endif %}
  {% if neighbor.ebgp_multihop | default(false) %}
  neighbor {{ neighbor.peer }} ebgp-multihop
  {% endif %}
  {% if neighbor.next_hop_self | default(false) %}
  neighbor {{ neighbor.peer }} next-hop-self
  {% endif %}
  {% if neighbor.update_source | default(false) %}
  neighbor {{ neighbor.peer }} update-source {{ neighbor.update_source }}
  {% endif %}
  {% endfor %}
